{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' sizes="16x16" />
    <meta charset="utf-8">
    <title>Django Project Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Django Project Template">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- start leaflet css, js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <style>
        .leaflet-container {
            max-width: 100%;
            max-height: 100%;
            z-index: 0;
        }
    </style>
    <!-- end leaflet css, js -->
    <!-- start leaflet routing machine css, js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <!-- end leaflet routing machine css, js -->
    {% block style %} {% endblock %}
</head>

<body>

    <div class="container-fluid">

        {% block content %} {% endblock %}
        <!-- start leaflet map div and scripts -->
        <div id="map"></div>
        <script>
            var map = L.map('map', {
                zoomControl: false,
                minZoom: 2,
            }).setView([0, 0], 2);
            // change zoom control to top right
            new L.Control.Zoom({
                position: 'topright'
            }).addTo(map);
            var tiles = L.tileLayer(
                'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(map);

            //make map markers for every reminder in list
            {% for reminder in reminders %}
            var coords = '{{ reminder.location }}'.split(",");
            new L.marker(coords).addTo(map).bindPopup(
                    '<b>{{ reminder }}</b><br/>{{ reminder.body }}'
                    {% if reminder.image %}
                    //won't work for image display but is close
                    + '<br/><img src="{{ reminder.image }}"></img>'
                    {% endif %}
                ).openPopup();
            {% endfor %}
            //make map markers for every reminder in list
            //change zoom level from default based on first reminder
            {% if reminders %}
            var coords = '{{ reminders.first.location }}'.split(",");
            map.setView(coords,13);
            {% endif %}
        </script>
        <!-- end leaflet map div and scripts -->
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
