{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' sizes="16x16" />
    <meta charset="utf-8">
    <title>Django Project Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Django Project Template">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- start leaflet css, js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <style>
        .leaflet-container {
            max-width: 100%;
            max-height: 100%;
            z-index: 0;
        }
    </style>
    <!-- end leaflet css, js -->
    <!-- start leaflet routing machine css, js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <!-- end leaflet routing machine css, js -->
    {% block style %} {% endblock %}
</head>

<body>

    <div class="container-fluid">

        {% block content %} {% endblock %}
        <!-- start leaflet map div and scripts -->
        <div id="map"></div>
        <script>
            var map = L.map('map', {
                zoomControl: false
            }).setView([51.505, -0.09], 8);
            // change zoom control to top right
            new L.Control.Zoom({
                position: 'topright'
            }).addTo(map);
            var tiles = L.tileLayer(
                'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(map);

            // start leaflet routing machine script
            L.Routing.control({
                waypoints: [
                    L.latLng(51.505, -0.09),
                    L.latLng(51.7520, -1.2577),
                    L.latLng(52.1951, 0.1313)
                ]
            }).addTo(map);
            //end leaflet routing machine script

            //these create popups at the marker locations
            //as you can see, they allow HTML
            new L.marker([51.505, -0.09]).addTo(map)
                .bindPopup(
                    '<b>Get your haircut</b><br />When you are on that side of town some day this weekend, stop and get your hair cut at that place you like.'
                ).openPopup();
            new L.marker([51.7520, -1.2577]).addTo(map)
                .bindPopup('<b>Study group</b><br />Study group at the library. Second floor at 2 pm.').openPopup();
            new L.marker([52.1951, 0.1313]).addTo(map)
                .bindPopup('<b>New sushi place</b><br />Stop by and get some sushi while you are around the mall.')
                .openPopup();
        </script>
        <!-- end leaflet map div and scripts -->
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>