{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />

<div class="container sidebar">

    <div class="row">
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg" role="button">In The Moment</a>
        </div>

        <div class="col">
            <img src="https://drive.google.com/uc?export=view&id=1fq6G5TdcJo0cDREjxU7XtAVdYgkbi9jq" height="70%"
                width="50%">
        </div>
    </div>


    <div class="row">

        <div class="btn-group col" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-chevrons-down">More</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Create Reminders</a>
                <a class="dropdown-item" href="#">Edit Reminders</a>
                <a class="dropdown-item" href="#">Bundles</a>
                <a class="dropdown-item" href="#">Settings</a>
            </div>
        </div>

        <div class="col">
            <span class="badge badge-secondary">
                <h3>Reminders</h3>
            </span>
        </div>

    </div>

    <ul class="list-group">

        <li class="list-group-item">
            <h3><input type="checkbox"> Get your haircut</h3>
            <p>When you are on that side of town some day this weekend, stop and get your hair cut at that place you
                like.</p>
        </li>
        <li class="list-group-item">
            <h3><input type="checkbox"> Study group</h3>
            <p>Study group at the library. Second floor at 2 pm.</p>
        </li>
        <li class="list-group-item">
            <h3><input type="checkbox"> New sushi place</h3>
            <p>Stop by and get some sushi while you are around the mall.</p>
        </li>
        <li class="list-group-item">
            <h3><input type="checkbox"> Take the trash out</h3>
            <p>For 8 pm. If you are home, take the trash out</p>
        </li>

    </ul>

</div>


{% endblock %}