{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />

<div class="container sidebar">

    <div class="row">
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg" role="button">In The Moment</a>
        </div>

        <div class="col">
            <img src="https://drive.google.com/uc?export=view&id=1fq6G5TdcJo0cDREjxU7XtAVdYgkbi9jq" height="70%"
                width="50%">
        </div>
    </div>

    <br>
    <div class="row" style="border-bottom: 1px solid grey; padding-bottom: 1em; box-shadow: -2px 5px 5px;">

        <div class="btn-group col-3" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-chevrons-down">More</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/">Reminders</a>
                <a class="dropdown-item" href="bundles">Bundles</a>
                <a class="dropdown-item" href="settings">Settings</a>
            </div>
        </div>

        <div class="col-8" style="text-align: center;">
            <span class="badge badge-secondary">
                <h3>Bundles</h3>
            </span>
        </div>

    </div>

    
    <br>


    <form method = "POST" action = "{% url 'create_bundle' %}">
        {% csrf_token %}
      
      <div class="row form-group">
      
        <div class = "col">
          <input name = "name" type="text" class="form-control" id="EnterBundleName" aria-describedby="emailHelp" placeholder="Enter a Bundle Name">
        </div>
      
      
        <div class = "col form-group">
          <button type = "submit" class="btn btn-primary">+ Create</button>
        </div>
      
      
      </div>
    </form>

    <a type = "button" href = 'append_reminder_bundle' class = "btn btn-secondary">Append Reminders</a>
    <ul class="list-group" style="overflow-y: scroll; height: 55%;">

        {% for bundle in bundles %}
        <li class="list-group-item">

            
                

            <h3>{{ bundle.name }}</h3>
            
          <ul class = "row">
            
        
            {% for reminder in bundle.reminder_set.all %}

            {% if reminder == bundle.reminder_set.last %}

                {{ reminder.name }}

            {% else %}

                {{ reminder.name }},

            {% endif %}

            

            {% endfor %}
            

          </ul>
          
        </li>
        {% endfor %}
    
    </ul>
    

</div>


{% endblock %}

